body{
    margin: 0;
}

header{

    background-color: cyan;
    padding: 10px;
}
    
/* style the top nav*/
.topnav{
    
    overflow: hidden;
    background-color: black;
}
    
    
    
.topnav a{
    
    float: left;
    color: aliceblue;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
    
.topnav a:hover{
    
    background-color: white;
    color: black;
}

/*style the middle column*/

.column.middle{
    padding: 10px;
    height: 70vh;
    width: 70vw;
    width: 400px;
}


table, th, td {

    border: 1px solid;
    width: 400px;
}

tr:nth-child(even) {
    background-color: white;
}

tr:nth-child(odd) {
    background-color: gray;
}



.footer{
    background-color: red;
    padding: 10px;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-weight: 900;
        
}
        
        